.main-game-view {
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center;     /* Vertically center */
    height: 100vh;           /* Make sure it takes the full height of the viewport */
    width: 100vw;            /* Make sure it takes the full width of the viewport */
  }
  